@use 'src/vars';

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  margin: 0;
}

/* Header */
.header {
  height: 10vh;
  width:100vw;
  position: absolute;
  top: 0;

  .header__title {
    position: absolute;
    left: 0;
    padding: 1em;
    text-transform: uppercase;
  }

  .header__nav {
    position: absolute;
    top: 0;
    right: 0;
    width:50vw;
    padding: 1em;
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
  }

  .header__nav__a {
    font-size: 0.5em;
    text-decoration: none;
    color: vars.$mainTextColor;
  }

  .header__nav__a:hover {
    color: vars.$wavesColor;
  }
}

/* Main */
main {
  position: absolute;
  top: 10vh;
  z-index: 4;
  width: 100vw;
  height:50vh;
  display:flex;
  justify-content: center;

  .main__top {
    width:65vw;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .main__top__tagline {
    text-transform: uppercase;
    color:#ffd0ca;
  }

  .main__top__p {
    width:100%;
    font-size: 2.4em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  .main__top__line {
    height:1px;
    width:10vw;
    background-color: vars.$wavesColor;
    margin-top: 0;
  }

  .main__section {
    display: flex;
    position: absolute;
    bottom:0;
    width:90vw;
    justify-content: space-evenly;
    align-items: center;
  }

  .main__section__small-img {
    width:12vw;
    height:100%;
  }

  .main__section__big-img {
    width:15vw;
    height:100%;
  }
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40vh;
  display:flex;
  justify-content: center;

  .footer__section {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom:10vh;
    z-index:4;
    width:60vw;
  }

  .footer__section__img-up, .footer__section__img-down {
    width:15vw;
  }

  .footer__section__img-up__img, .footer__section__img-down__img {
    width:100%;
  }

  .footer__section__img-up__h2, .footer__section__img-down__h2 {
    text-transform: uppercase;
    font-size: 1em;
    color: vars.$mainTextColor;
  }

  .footer__section__img-up__p, .footer__section__img-down__p {
    font-size: 0.8em;
  }

  .footer__p {
    position: absolute;
    bottom: 0;
    left: 25vw;
    align-items: center;
    text-transform: uppercase;
    color: vars.$mainBackgroundColor;
    z-index: 4;
  }

  /* Blue waves */
  .waves-wrapper1, .waves-wrapper2 {
    height:40vh;
    width:100%;
    overflow:hidden;
    position: absolute;
    bottom:0;
  }

  .waves-wrapper1 { 
    /* Svg is encoded with http://www.asiteaboutnothing.net/c_decode-url.html */
    background-image:url("data:image/svg+xml, %3Csvg%20class%3D%22wave1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20150%22%20preserveAspectRatio%3D%22none%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%20%22%235039eb%22%20fill-opacity%3D%221%22%20z-index%3D%222%22%20d%3D%22M-0.27%2C47.86%20C85.50%2C-47.86%20301.06%2C67.59%20501.41%2C2.47%20L500.00%2C150.00%20L-1.41%2C150.48%20Z%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fsvg%3E%20");
  }

  .waves-wrapper2 {
    /* Svg is encoded with http://www.asiteaboutnothing.net/c_decode-url.html */
    background-image:url("data:image/svg+xml, %3Csvg%20class%3D%22wave1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20150%22%20preserveAspectRatio%3D%22none%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%20%22%235039eb%22%20fill-opacity%3D%220.33%22%20z-index%3D%221%22%20d%3D%22M0.28%2C3.47%20C207.95%2C4.45%20214.73%2C67.59%20502.54%2C-1.47%20L500.00%2C150.00%20L0.00%2C150.00%20Z%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fsvg%3E%20");
  }

  .wave1 {
    height: 100%;
    width: 100%; 
    fill: vars.$wavesColor;
    z-index: 3;
  }
}